@charset "utf-8";


/* h1{} */
    
.car-card {
    width: 300px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    padding-bottom: 20px;
    font-family: Arial, sans-serif;
}

.car-img img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.car-title {
    font-size: 22px;
    font-weight: bold;
    margin: 15px;
}

.car-info {
    font-size: 14px;
    color: #444;
    margin: 0 15px 10px 15px;
}

.car-details {
    font-size: 14px;
    color: #666;
    margin: 0 15px 10px 15px;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #1a1a1a;
    margin: 0 15px 20px 15px;
}

.btn-more {
    display: block;
    width: 85%;
    margin: 0 auto;
    padding: 12px;
    background: #0d1b35;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

.btn-more:hover {
    background: #102246;
}


body {
margin: 0;
font-family: serif;
background: rgb(0, 0, 0);
margin: 0;
font-family: Arial, sans-serif;
background: #f5f5f5;
}

img{width: 300px;
  border-radius: 200px;
  border: #000000;
};

header {
background: #070a0c;
color: rgb(0, 0, 0);
padding: 20px;
text-align: center;
font-size: 28px;
font-weight: bold;
padding: 0%;
}

/* Costumizar o banner */
.banner{
font-family: serif;
width: 100%;
display: block;
background: linear-gradient(to right, #01101b, #183bc4);
color: rgb(197, 179, 17);
padding: 30px 10px;
text-align: center;
font-size: 48px;
font-weight: bold;
letter-spacing: 3px;
text-transform: uppercase;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0, 3);
}

/* cabeçalho */
nav {
background: #9bb2b3;
display: flex;
justify-content: center;
gap: 50px;
padding: 12px;

 
}


.filtros {
padding: 20px;
display: flex;
justify-content: center;
gap: 10px;
flex-wrap: wrap;
background: #cfcfcf;
margin-top: 10px;
border-bottom: 2px solid #ddd;
 
}


/*  */

nav a {
color: white;
text-decoration: none;
font-size: 18px;
padding: 5px 10px;
border-radius: 4px;
 width: 200px;
  border: 1px solid #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;

}

 
nav a:hover {
background: rgba(239, 37, 37, 0.2);
}


.filtros label {
font-weight: bold;
margin-right: 6px;
 
}


.filtros select {
padding: 6px;
font-size: 16px;
}


.marcas {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
gap: 20px;
padding: 30px;
font-family: serif;
}

/* COSTUMIZAR O BOTÃO DAS MARCAS DE CARRO */
.marca-card {
background: rgba(216, 206, 206, 0.342);
padding: 20px;
text-align: center;
border:   #96969600;
font-size: 20px;
cursor: pointer;
transition: 4.3s;
border-radius: 400px;
}




.marca-card:hover {
background: #4b4f51;
}