@charset "utf-8";


/* h1{} */
    



body {
margin: 0;
font-family: serif;
background: rgb(0, 0, 0);
margin: 0;
font-family: Arial, sans-serif;
background: #f5f5f5;
}


header {
background: #0a3d62;
color: rgb(0, 0, 0);
padding: 20px;
text-align: center;
font-size: 28px;
font-weight: bold;
padding: 0%;
}

/* Costumizar o banner */
.banner{
font-family: serif;
width: 100%;
display: block;
background: linear-gradient(to right, #01101b, #183bc4);
color: rgb(197, 179, 17);
padding: 30px 10px;
text-align: center;
font-size: 48px;
font-weight: bold;
letter-spacing: 3px;
text-transform: uppercase;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0, 3);
}

/* cabeçalho */
nav {
background: #309a9c;
display: flex;
justify-content: center;
gap: 50px;
padding: 12px;

 
}

.filtros {
padding: 20px;
display: flex;
justify-content: center;
gap: 10px;
flex-wrap: wrap;
background: #cfcfcf;
margin-top: 10px;
border-bottom: 2px solid #ddd;
 
}

nav a {
color: white;
text-decoration: none;
font-size: 18px;
padding: 5px 10px;
border-radius: 4px;
 width: 200px;
  border: 1px solid #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;

}

 
nav a:hover {
background: rgba(239, 37, 37, 0.2);
}


.filtros label {
font-weight: bold;
margin-right: 6px;
 
}


.filtros select {
padding: 6px;
font-size: 16px;
}


.marcas {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
gap: 20px;
padding: 30px;
font-family: serif;
}

/* COSTUMIZAR O BOTÃO DAS MARCAS DE CARRO */
.marca-card {
background: rgba(216, 206, 206, 0.342);
padding: 20px;
text-align: center;
border:   #96969600;
font-size: 20px;
cursor: pointer;
transition: 4.3s;
border-radius: 400px;
}




.marca-card:hover {
background: #4b4f51;
}